/* destop footer css start  */
.footer-area {
  background: #fff;
}

.footer-area hr {
  border-color: #3f3f42;
  opacity: 1;
  margin: 0;
}

.footer-logo {
  display: inline-block;
}

.footer-title {
  margin-bottom: 24px;
}

.footer-widget {
  padding: 24px 0;
}

.footer-widget ul {
  list-style: none;
}

.footer-widget ul li {
  margin-bottom: 15px;
}

.footer-widget ul li:last-child {
  margin-bottom: 0;
}

.footer-widget a {
  font-size: 14px;
  font-weight: 500;
}

.footer-copy-right {
  padding: 24px 0;
}

.footer-copy-right ul li {
  display: inline-block;
  position: relative;
  margin: 0 20px;
}

.footer-copy-right ul li::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background: var(--border-color);
  border-radius: 50%;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
}

.footer-copy-right ul li:first-child:before {
  display: none;
}

/* destop footer css end  */
