.header-area {
  background: #fff;
}

.header-top {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.header-bottom {
  border-bottom: 1px solid #333;
}

.sticky-header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 99999;
  background: #fff;
  transition: 0.3s;
  box-shadow: 0 0 5px #00000020;
}

.header-contact ul,
.header-social ul {
  list-style: none;
}

.header-contact ul li,
.header-social ul li {
  display: inline-block;
}

.header-contact ul li,
.header-social ul li a {
  color: #fff;
}

.header-contact ul li {
  margin-right: 12px;
}

.header-social ul li {
  margin-left: 12px;
}

.header-social ul li a:hover {
  color: #0088cc;
  color: var(--primary-color);
}

.header-logo {
  width: 270px;
}
.header-logo a {
  display: inline-block;
}

.header-logo a:hover span {
  text-decoration: none;
}

.header-logo a span {
  color: #fff;
  font-size: 28px;
  line-height: 1;
  margin-left: 5px;
  font-weight: 400;
}

.header-items {
  display: flex;
  gap: 12px;
}

.header-items .item-img img {
  width: 64px;
  height: 64px;
  min-width: 64px;
  object-fit: cover;
}

.header-items .item-text svg {
  width: 14px;
}

.header-items .item-text {
  font-size: 14px;
}

.cart-icon,
.toggle-icon {
  font-size: 28px;
}

.main-menu {
  position: relative;
}
.main-menu > ul {
  list-style: none;
}

.main-menu > ul > li {
  display: inline-block;
  margin: 0 12px;
}

.main-menu > ul > li:hover > a {
  color: var(--hover-color);
}

.main-menu a:hover span {
  text-decoration: none;
}

.main-menu ul > li > a {
  color: var(--text-color);
  border: solid transparent;
  border-width: 2px 0;
  display: block;
  position: relative;
  font-family: "Futura, sans-serif";
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
}

.header-action-list ul {
  list-style: none;
}

.header-action-list ul li {
  display: inline-block;
  border-left: 1px solid #ddd;
}

.header-action-list ul li a {
  display: inline-flex;
  align-items: center;
  column-gap: 12px;
  padding: 16px 16px;
}

.header-action-list ul li:last-child {
  border-right: 1px solid #ddd;
}
