/* news  css start  */

.news-wrap {
  border-bottom: 1px solid #ddd;
  margin-bottom: 24px;
  padding-bottom: 20px;
  display: block;
}

.news-wrap .news-item .item-img {
  overflow: hidden;
}

.news-wrap:hover .news-item .item-img img {
  transform: scale(1.1);
}

.news-mid .news-wrap:first-child:hover .news-item .item-img img {
  transform: scale(1);
}

.news-item {
  display: flex;
  column-gap: 12px;
  margin-bottom: 24px;
}

.news-item .item-img {
  min-width: 102px;
}

.news-description p,
.news-description .item-text {
  margin-bottom: 24px;
}

.news-wrap:hover .news-item .item-text h6 {
  color: #0573e6;
}

.news-mid {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
}

.news-mid .news-wrap:first-child .news-item .item-img,
.news-mid .news-wrap:first-child .news-item .item-text {
  width: 100%;
}

.news-mid .news-wrap:first-child .news-item .item-text h6 {
  font-size: 24px;
  margin-bottom: 24px;
}

.news-mid .news-wrap:nth-child(2),
.news-mid .news-wrap:nth-child(3) {
  width: 48%;
  display: inline-block;
}

.news-mid .news-wrap:nth-child(4),
.news-mid .news-wrap:nth-child(5),
.news-mid .news-wrap:nth-child(6) {
  width: 30%;
  display: inline-block;
}

/* news  css end  */

/* article page css end */
