/* Laptop layout min 1200px */

@media (min-width: 1200px) and (max-width: 1599px) {
  :root {
    --h1-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.75rem;
    --h4-font-size: 1.5rem;
    --h5-font-size: 1.25rem;
    --h6-font-size: 1rem;
  }

  .news-mid {
    column-gap: 20px;
  }

  .main-menu > ul > li {
    margin: 0 10px;
  }

  .header-action-list ul li a {
    column-gap: 10px;
    padding: 16px 12px;
  }

  .news-nav .nav-link,
  .news-nav .nav-link {
    font-size: 14px;
  }
}

/* Mini laptop layout min 769px */

@media (min-width: 992px) and (max-width: 1199px) {
  :root {
    --h1-font-size: 2rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.25rem;
    --h5-font-size: 1rem;
    --h6-font-size: 14px;
    --section-padding: 2rem 1rem;
  }

  body {
    font-size: 14px;
  }

  .header-logo {
    width: 100%;
  }

  .header-logo a {
    width: 180px;
  }

  .main-menu > ul > li {
    margin: 0 4px;
  }

  .main-menu > ul > li > a {
    font-size: 14px;
  }

  .header-action-list ul li a {
    column-gap: 5px;
    padding: 16px 8px;
  }

  .news-title {
    font-size: 16px;
  }

  .news-item .item-img {
    min-width: 80px;
  }

  .news-mid {
    display: flex;
    flex-wrap: wrap;
    column-gap: 18px;
  }

  .news-nav .nav-link,
  .news-nav .nav-link {
    font-size: 14px;
    padding: 10px;
  }

  .local-news-text {
    font-size: 15px;
  }

  .opinion-wrap {
    margin-right: 5px;
  }

  .opinion-list-item .item-img {
    width: 80px;
    height: 80px;
  }

  .opinion-list-item .item-text {
    max-width: 80%;
  }

  .news-time {
    font-size: 12px;
  }
}

/* Tablet Layout wide: 768px. */

@media (min-width: 768px) and (max-width: 991px) {
  :root {
    --h1-font-size: 2rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.25rem;
    --h5-font-size: 1rem;
    --h6-font-size: 14px;
    --section-padding: 2rem 1rem;
  }

  .header-top {
    padding: 5px 0;
  }

  .header-logo {
    width: 200px;
  }

  .main-menu > ul > li {
    margin: 0px 5px;
  }

  .header-action-list ul li a {
    column-gap: 8px;
    padding: 12px 5px;
  }

  .news-mid .news-wrap:last-child {
    border-bottom: 1px solid var(--border-color);
  }

  .news-aside {
    display: flex;
    column-gap: 24px;
  }

  .news-aside .news-wrap:last-child {
    border-bottom: 1px solid var(--border-color);
  }

  .news-tab-items {
    display: flex;
    column-gap: 24px;
    align-items: center;
    font-size: 24px;
  }

  .local-news-form {
    padding: 16px;
  }

  .local-news-wrap {
    margin-bottom: 16px;
  }

  .local-news-btn .btn {
    width: 100%;
  }

  .opinion-wrap {
    max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 24px;
  }

  .news-img-slider-active {
    margin-bottom: 24px;
  }
}

/* Mobile layout max 425 */

@media (max-width: 767px) {
  :root {
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 1rem;
    --h5-font-size: 1rem;
    --h6-font-size: 14px;
  }

  section {
    padding: 20px 0;
  }

  .header-top {
    padding: 0;
  }

  .header-logo {
    width: 150px;
  }

  .header-bottom {
    padding: 0;
  }

  .main-menu {
    position: relative;
    width: 100%;
    overflow-x: auto;
  }

  .main-menu::-webkit-scrollbar {
    display: none;
  }

  .main-menu > ul {
    list-style: none;
    width: max-content;
  }

  .toggle-icon {
    color: #000;
    font-size: 20px;
    padding: 12px 0px;
    position: relative;
    z-index: 9999999999999;
    width: 17.5px;
    margin-left: auto;
  }

  .toggle-icon::before,
  .toggle-icon::after {
    position: absolute;
    content: "";
    width: 18px;
    height: 3px;
    border-radius: 30px;
    background: #000;
    right: 0;
    transition: all 0.3s linear;
  }

  .toggle-icon::before {
    top: 32.5%;
  }

  .toggle-icon::after {
    bottom: 32.5%;
  }

  .toggle-icon.open::before {
    transform: rotate(45deg);
    top: 47.5%;
    height: 2px;
  }

  .toggle-icon.open::after {
    transform: rotate(-45deg);
    bottom: 47.5%;
    height: 2px;
  }

  .toggle-icon.open i {
    visibility: hidden;
  }

  .mobile-menu {
    position: fixed;
    transform: translateX(-100%);
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background: #fff;
    height: 100%;
    box-shadow: #0216330f -2px 0px 4px 0px;
    transition: all 0.3s linear;
    overflow-y: auto;
  }

  .mobile-menu.open {
    transform: translateX(0);
  }

  .mobile-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 24px;
  }

  .mobile-logo a {
    display: inline-block;
    width: 130px;
  }

  .mobile-menu ul {
    list-style: none;
  }

  .mobile-menu .toggle-icon {
    display: block;
    margin-left: auto;
    text-align: end;
    line-height: 1;
    width: 18px;
  }

  .mobile-menu-search-wrap {
    display: flex;
    margin: 12px;
  }

  .mobile-menu-search-wrap .form-floating {
    width: 100%;
  }

  .mobile-menu-search-wrap .search-btn .btn {
    width: 58px;
    min-height: 58px;
  }

  .mobile-menu ul > li,
  .mobile-menu ul > li > a > i,
  .mobile-sub-menu > li > a > i {
    transition: all 0.3s linear;
  }

  .mobile-menu > ul > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 24px;
    font-weight: 600;
  }

  .mobile-sub-menu > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 24px 12px 36px;
    font-weight: 600;
  }

  .mobile-menu-list > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 24px 12px 48px;
    font-weight: 600;
  }

  .mobile-main-menu > li.open > a {
    background-color: var(--primary-color);
    color: #ffffff;
    border-bottom-color: var(--primary-color);
  }

  .header-action-list ul li a {
    column-gap: 8px;
    padding: 16px 5px;
  }

  .news-mid .news-wrap:last-child {
    border-bottom: 1px solid var(--border-color);
  }

  .news-mid .news-wrap:nth-child(2),
  .news-mid .news-wrap:nth-child(3) {
    width: 100%;
  }

  .news-mid.news-sports .news-wrap:nth-child(2),
  .news-mid.news-sports .news-wrap:nth-child(3) {
    width: 46%;
    display: inline-block;
  }

  .news-mid .news-wrap:nth-child(4),
  .news-mid .news-wrap:nth-child(5),
  .news-mid .news-wrap:nth-child(6) {
    width: 100%;
  }

  .news-item .item-img {
    min-width: 102px;
    width: 100%;
  }

  .news-aside {
    flex-wrap: wrap;
  }

  .news-aside .news-wrap:last-child {
    border-bottom: 1px solid var(--border-color);
  }

  .news-tab-items {
    display: flex;
    column-gap: 24px;
    align-items: center;
    font-size: 14px;
  }

  .local-news-form {
    padding: 16px;
  }

  .local-news-wrap {
    margin-bottom: 16px;
  }

  .local-news-btn .btn {
    width: 100%;
  }

  .opinion-wrap {
    margin-right: 0px;
  }

  .opinion-headline h4 a {
    background: #001246;
    color: #fff;
    line-height: 50px;
    font-size: 32px;
  }

  .news-img-slider-active {
    margin-bottom: 24px;
  }

  .opinion-list-item .item-img {
    width: 60px;
    height: 60px;
  }

  .opinion-list-item .item-text {
    max-width: 75%;
    font-size: 12px;
  }

  .opinion-list-item .item-text h5 {
    font-weight: 400;
    position: relative;
    margin-bottom: 24px;
    font-size: 14px;
  }

  .news-time {
    font-size: 12px;
  }

  .footer-copy-right ul li {
    margin: 0 16px;
    font-size: 14px;
  }
}
