/* Laptop layout min 1200px */

@media (min-width: 1200px) and (max-width: 1599px) {
  :root {
    --h1-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.75rem;
    --h4-font-size: 1.5rem;
    --h5-font-size: 1.25rem;
    --h6-font-size: 1rem;
  }

  .news-mid {
    column-gap: 20px;
  }

  .main-menu > ul > li {
    margin: 0 10px;
  }

  .header-action-list ul li a {
    column-gap: 10px;
    padding: 16px 12px;
  }

  .news-nav .nav-link,
  .news-nav .nav-link {
    font-size: 14px;
  }
}

/* Mini laptop layout min 769px */

@media (min-width: 992px) and (max-width: 1199px) {
  :root {
    --h1-font-size: 2rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.25rem;
    --h5-font-size: 1rem;
    --h6-font-size: 14px;
    --section-padding: 2rem 1rem;
  }

  body {
    font-size: 14px;
  }

  .header-logo {
    width: 100%;
  }

  .header-logo a {
    width: 180px;
  }

  .main-menu > ul > li {
    margin: 0 4px;
  }

  .main-menu > ul > li > a {
    font-size: 14px;
  }

  .header-action-list ul li a {
    column-gap: 5px;
    padding: 16px 8px;
  }

  .news-title {
    font-size: 16px;
  }

  .news-item .item-img {
    min-width: 80px;
  }

  .news-mid {
    display: flex;
    flex-wrap: wrap;
    column-gap: 18px;
  }

  .news-mid .news-wrap:first-child .news-item .item-text h6 {
    font-size: 22px;
  }

  .news-nav .nav-link,
  .news-nav .nav-link {
    font-size: 14px;
    padding: 10px;
  }

  .local-news-text {
    font-size: 15px;
  }

  .opinion-wrap {
    margin-right: 5px;
  }

  .opinion-list-item .item-img {
    width: 80px;
    height: 80px;
  }

  .opinion-list-item .item-text {
    max-width: 80%;
  }

  .news-time {
    font-size: 12px;
  }
}

/* Tablet Layout wide: 768px. */

@media (min-width: 768px) and (max-width: 991px) {
  :root {
    --h1-font-size: 2rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.25rem;
    --h5-font-size: 20px;
    --h6-font-size: 18px;
    --section-padding: 2rem 1rem;
  }

  .header-top {
    padding: 5px 0;
  }

  .header-logo {
    width: 200px;
  }

  .main-menu > ul > li {
    margin: 0px 5px;
  }

  .header-action-list ul li a {
    column-gap: 6px;
    padding: 12px 5px;
  }

  /* temporary css  */
  /* .news-mid .news-wrap:last-child {
    border-bottom: 1px solid var(--border-color);
  } */

  .stop-wrap .news-wrap .news-item .item-text h6,
  .fashion-wrap .news-wrap .news-item .item-text h6 {
    font-size: 16px;
  }

  .news-for-text .news-for-title h6 {
    font-size: 18px;
  }

  .news-aside {
    display: flex;
    column-gap: 24px;
  }

  .news-aside .news-wrap:last-child {
    border-bottom: 1px solid var(--border-color);
  }

  .news-tab-items {
    display: flex;
    column-gap: 24px;
    align-items: center;
    font-size: 24px;
  }

  .local-news-form {
    padding: 16px;
  }

  .local-news-wrap {
    margin-bottom: 16px;
  }

  .local-news-btn .btn {
    width: 100%;
  }

  .opinion-wrap {
    max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 24px;
  }

  .news-img-slider-active {
    margin-bottom: 24px;
  }
}

/* Mobile layout max 425 */

@media (max-width: 767px) {
  :root {
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 1rem;
    --h5-font-size: 20px;
    --h6-font-size: 18px;
  }

  section {
    padding: 20px 0;
  }

  .header-top {
    padding: 0;
  }

  .header-logo {
    width: 150px;
  }

  .header-bottom {
    padding: 0;
  }

  .main-menu {
    position: relative;
    width: 100%;
    overflow-x: auto;
  }

  .main-menu::-webkit-scrollbar {
    display: none;
  }

  .main-menu > ul {
    list-style: none;
    width: max-content;
  }

  .toggle-icon {
    color: #000;
    font-size: 20px;
    padding: 12px 0px;
    width: 17.5px;
    margin-left: auto;
  }

  .mobile-menu {
    position: fixed;
    transform: translateX(-100%);
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background: #fff;
    height: 100%;
    box-shadow: #0216330f -2px 0px 4px 0px;
    transition: all 0.3s linear;
    overflow-y: auto;
  }

  .mobile-menu.open {
    transform: translateX(0);
  }

  .mobile-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 24px;
  }

  .mobile-logo a {
    display: inline-block;
    width: 130px;
  }

  .mobile-logo #crossBtn {
    text-align: right;
    font-size: 24px;
    border: 0;
    background: transparent;
  }

  .mobile-menu ul {
    list-style: none;
  }

  .social-link ul {
    margin-top: 12px;
    display: flex;
    justify-content: space-evenly;
  }

  .social-link ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
  }

  .facebook {
    color: #3b5998;
  }

  .twitter {
    color: #1da1f2;
  }

  .instagram {
    color: #c13584;
  }

  .youtube {
    color: #ff0000;
  }

  .mobile-menu .toggle-icon {
    display: block;
    margin-left: auto;
    text-align: end;
    line-height: 1;
    width: 18px;
  }

  .mobile-menu-search-wrap {
    display: flex;
    margin: 12px;
  }

  .mobile-menu-search-wrap .form-floating {
    width: 100%;
  }

  .mobile-menu-search-wrap .search-btn .btn {
    width: 58px;
    min-height: 58px;
  }

  .mobile-menu ul > li {
    border-bottom: 1px solid var(--border-color);
  }

  .mobile-menu ul > li:last-child {
    border-bottom: 0;
  }

  .mobile-menu ul > li,
  .mobile-menu ul > li > a > i,
  .mobile-sub-menu > li > a > i {
    transition: all 0.3s linear;
  }

  .mobile-menu > ul > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 24px;
    font-weight: 600;
    color: var(--text-color);
  }

  .mobile-sub-menu > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 24px 12px 36px;
    font-weight: 600;
  }

  .mobile-menu-list > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 24px 12px 48px;
    font-weight: 600;
  }

  .mobile-main-menu > li.open > a {
    background-color: var(--primary-color);
    color: #ffffff;
    border-bottom-color: var(--primary-color);
  }

  .header-action-list ul li a {
    column-gap: 8px;
    padding: 10px 6px;
  }

  .news-mid .news-wrap:last-child {
    border-bottom: 1px solid var(--border-color);
  }

  .header-action-list ul li,
  .header-action-list ul li:last-child {
    border: 0;
  }

  .news-mid .news-wrap:nth-child(2),
  .news-mid .news-wrap:nth-child(3) {
    width: 100%;
  }

  .news-mid.news-sports .news-wrap:nth-child(2),
  .news-mid.news-sports .news-wrap:nth-child(3) {
    width: 46%;
    display: inline-block;
  }

  .news-mid .news-wrap:nth-child(4),
  .news-mid .news-wrap:nth-child(5),
  .news-mid .news-wrap:nth-child(6) {
    width: 100%;
    display: flex;
    column-gap: 12px;
  }

  .news-for-wrap {
    display: flex;
    column-gap: 12px;
  }

  .news-mid.news-sports .news-wrap:first-child .news-description {
    padding: 6px 12px;
  }

  .news-mid.news-sports .news-wrap:first-child .item-text {
    margin-bottom: 5px;
  }

  .news-mid.news-sports .news-wrap:first-child .news-time {
    color: #ffffff99;
  }

  .news-mid.news-sports .news-wrap:first-child .news-description h6 {
    font-size: 16px;
    line-height: 20px;
  }

  .news-aside-description h6 {
    margin-bottom: 12px;
    font-size: 16px;
  }

  .news-mid.news-sports .news-wrap:nth-child(2) h6,
  .news-mid.news-sports .news-wrap:nth-child(3) h6 {
    font-size: 12px;
  }

  .news-img-aside .news-video-wrap h6 {
    font-size: 12px;
  }

  .news-mid.news-sports .news-wrap:nth-child(2) .news-item,
  .news-mid.news-sports .news-wrap:nth-child(3) .news-item {
    margin-bottom: 12px;
  }

  .stop-wrap .news-wrap .news-item .item-text h6,
  .fashion-wrap .news-wrap .news-item .item-text h6 {
    font-size: 16px;
  }

  .news-item .item-img {
    min-width: 102px;
    width: 100%;
  }

  .news-aside {
    flex-wrap: wrap;
  }

  .news-aside .news-wrap:last-child {
    border-bottom: 1px solid var(--border-color);
  }

  .news-tab-items {
    display: flex;
    column-gap: 24px;
    align-items: center;
    font-size: 14px;
  }

  .local-news-form {
    padding: 16px;
  }

  .local-news-wrap {
    margin-bottom: 16px;
  }

  .local-news-btn .btn {
    width: 100%;
  }

  .opinion-wrap {
    margin-right: 0px;
  }

  .opinion-headline h4 a {
    background: #001246;
    color: #fff;
    line-height: 50px;
    font-size: 32px;
  }

  .news-img-slider-active {
    margin-bottom: 24px;
  }

  .opinion-list-item .item-img {
    width: 60px;
    height: 60px;
  }

  .opinion-list-item .item-text {
    max-width: 75%;
    font-size: 12px;
  }

  .opinion-list-item .item-text h5 {
    font-weight: 400;
    position: relative;
    margin-bottom: 24px;
    font-size: 14px;
  }

  .news-time {
    font-size: 12px;
  }

  .footer-copy-right ul li {
    margin: 0 16px;
    font-size: 14px;
  }

  .more-category-wrap .news-item .item-img {
    max-width: 120px;
    min-width: 120px;
  }

  .more-category-wrap .news-item .item-text p {
    display: none;
  }

  /* .more-category-wrap .news-wrap .news-item {
    flex-direction: column;
  }

  .more-category-wrap .news-wrap .news-item .item-img {
    order: 1;
    margin-bottom: 12px;
  }
  .more-category-wrap .news-wrap .news-item .item-text {
    order: 2;
  } */

  .single-news-share {
    flex-wrap: wrap;
    gap: 12px;
  }

  .category-keywords ul li {
    margin-bottom: 12px;
  }

  .comment-wrap {
    padding: 10px;
  }

  .news-wrap.video-wrap .news-item .item-text h5 {
    font-size: 18px;
  }
  .news-wrap.video-wrap .news-item .item-text .item-description {
    display: none;
  }
  .news-img-area .news-wrap.video-wrap .news-item .item-img {
    max-width: 120px;
    width: 120px;
    min-width: 120px;
  }

  .news-mid.news-sports .news-wrap.video-wrap .news-item .item-img {
    max-width: 100%;
    width: 100%;
    min-width: 100%;
  }

  .news-wrap {
    margin-bottom: 12px;
    padding-bottom: 12px;
  }

  .news-item {
    margin-bottom: 12px;
  }

  .comment-item {
    column-gap: 12px;
    padding: 12px 0;
  }

  .news-description p,
  .news-description .item-text {
    margin-bottom: 5px;
  }

  .opinion-description {
    margin-bottom: 20px;
  }

  .news-for-img {
    min-width: 120px;
  }
}
